{% extends 'base.html' %}
{% block content %}
  <!-- About section -->
  <section id="about" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>About Rental House Search</h2>
          <p>Rental House Search is a website that helps people find rental houses in their desired location. We provide a user-friendly interface that makes it easy to search for rental houses and view details about each property.</p>
          <p>Our team is dedicated to providing the best possible service to our users. We strive to make the rental house search process as simple and efficient as possible.</p>
        </div>
        <div class="col-md-6">
          <img src="about-us-image.jpg" alt="About Us Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
