{% extends 'admin_house_view.html' %}
{% block content %}
    <div class="container">
      <h3 class="mx-auto">{{ house.house_name }}</h3>
      <div class="row">
         <h4 class="col-sm-10">Available rooms</h4>
          <a href="{{ url_for('add_room', house_id=house.id) }}" class="btn btn-secondary cols-sm-2 mr-0 mb-3">Add Room</a>
      </div>
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th>Room Type</th>
            <th>Rent</th>
            <th>Number of Vacancies</th>
            <th>Action</th>

          </tr>
        </thead>
        <tbody>
          {% for room in house.house_rooms %}
          <tr>
            <td>{{ room.room_type }}</td>
            <td>{{ room.room_price }}</td>
            <td>{{ room.room_vacancies }}</td>
            <td>

              <a href="{{ url_for('room_delete', house_id=house.id, room_type=room.room_type) }}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endblock content %}